@import url("https://fonts.googleapis.com2?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(prj_img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: #00337c;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #00337c;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #00337c;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navigation a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btn_popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 3px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #00337c;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btn_popup:hover {
  background-color: #00337c;
  color: #fff;
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container .form-box {
  width: 100%;
  padding: 40px;
}

.form-box h2 {
  font-size: 2em;
  color: #00337c;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #00337c;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #00337c;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: #00337c;
  font-weight: 600;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #00337c;
  line-height: 77px;
}

.remember {
  font-size: 0.9em;
  color: #00337c;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember label input {
  accent-color: #00337c;
  margin-right: 3px;
}

.remember a {
  color: #00337c;
  text-decoration: none;
}

.remember a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #00337c;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #00337c;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
  position: relative;
  top: 1px;
}

.login-register p a {
  color: #00337c;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.container .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #00337c;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

/* --------------------media queries------------------- */

@media screen and (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .navigation .btn_popup {
    margin-left: 139px;
    margin-top: 33px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation a {
    margin-left: 34px;
  }

  .navigation {
    width: 407px;
    padding-top: 25px;
  }
}
